<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="card p-3">
        <span>
          La <b>gamificación</b>  es una técnica de aprendizaje que <b>traslada la mecánica de los juegos</b> al ámbito educativo-profesional con el fin de conseguir mejores resultados: sirve para absorber conocimientos, para mejorar alguna habilidad para recompensar acciones concretas…
          Es un término que ha adquirido una enorme popularidad en los últimos años, sobre todo en entornos digitales y educativos.
         <br>
         Una de las claves principales al aplicarla es que los alumnos tengan perfectamente asimiladas las <b>dinámicas de juego</b> que se llevarán a cabo. Todas ellas tienen por objeto implicar al alumno a jugar y seguir adelante en la consecución de sus objetivos mientras se realiza la actividad.
        </span>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-3">
      <div class="card">
        <img src="assets/comido/img/comido.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Comido</h5>
          <p class="card-text">
            Adivina las diferentes letras para conocer la palabra oculta y comer la jugosa cereza, por cada error que cometas, el fantasma se acercara.
          </p>
          <a routerLink="/inicio/demo/comido" class="btn btn-primary">Probar demo</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1547638375-ebf04735d792?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sopa de letras</h5>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's
            standard.</p>
          <a routerLink="/inicio/demo/sopa" class="btn btn-primary">Probar demo</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img id="img-memorama" src="assets/memorama/img/back.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Memorama</h5>
          <p class="card-text">Los jugadores se enfrentan a un desafío de memoria y categorías al mismo tiempo. El objetivo es encontrar las coincidencias entre las categorías
            y las cartas de memoria relacionadas.</p>
          <a routerLink="/inicio/demo/memorama" class="btn btn-primary">Probar Demo</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1547638375-ebf04735d792?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Curioso</h5>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's
            standard.</p>
          <a routerLink="/inicio/demo/curioso" class="btn btn-primary">Probar demo</a>
        </div>
      </div>
    </div>
  </div>
</div>
