<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="card p-3">
        <span>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen
          book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          essentially unchanged. It
          was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
          recently with
          desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </span>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-3">
      <div class="card">
        <img src="assets/comido/img/comido.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Comido</h5>
          <p class="card-text">
            Adivina las diferentes letras para conocer la palabra oculta y comer la jugosa cereza, por cada error que cometas, el fantasma se acercara.
          </p>
          <a routerLink="/inicio/demo/comido" class="btn btn-primary">Probar demo</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1547638375-ebf04735d792?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sopa de letras</h5>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's
            standard.</p>
          <a routerLink="/inicio/demo/sopa" class="btn btn-primary">Probar demo</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img id="img-memorama" src="assets/memorama/img/4017645_7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Memorama</h5>
          <p class="card-text">Los jugadores se enfrentan a un desafío de memoria y categorías al mismo tiempo. El objetivo es encontrar las coincidencias entre las categorías
            y las cartas de memoria relacionadas. El juego se juega con una baraja de cartas que representan diferentes categorías, Cada carta tiene una palabra esa categoría.</p>
          <a routerLink="/inicio/demo/memorama" class="btn btn-primary">Probar Demo</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1547638375-ebf04735d792?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Curioso</h5>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's
            standard.</p>
          <a routerLink="/inicio/demo/curioso" class="btn btn-primary">Probar demo</a>
        </div>
      </div>
    </div>
  </div>
</div>
