<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2>Aula 1</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <div class="user-info">
            <div class="avatar-container">
              <img
                src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
                alt="Imagen de perfil" class="avatar-img">
            </div>
            <div>
              <h5 class="card-title">{{usuario.nombre + " " + usuario.apellido}}</h5>
              <h5 class="usuario-text">@{{usuario.usuario}}</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="col-auto">
            <input [(ngModel)]="contenido" type="text" class="form-control">
          </div>
          <div class="mt-3">
            <button (click)="publicar()" type="button" class="btn btn-primary">
              Publicar
            </button>
          </div>
        </div>
      </div>

      <app-publicacion *ngFor="let publicacion of publicaciones" [publicacion]="publicacion"></app-publicacion>
    </div>
    <div class="col-1">
    </div>
    <div class="col-3">
      <div>
        <h4>Miembros</h4>
      </div>
      <div class="user-info-miembro mt-2" *ngFor="let miembro of miembros">
        <div class="avatar-container-miembro">
          <img
            src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
            alt="Imagen de perfil" class="avatar-img-miembro">
        </div>
        <h5 class="card-title-miembro">Nombre de usuario</h5>
      </div>
      <a type="button" (click)="openModal()" class="more mt-2">Ver mas</a>
    </div>
  </div>
</div>

<!-- Modal -->
<div #myModal class="modal fade">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Miembros</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <div class="user-info-miembro mt-2" *ngFor="let miembro of miembros">
          <div class="avatar-container-miembro">
            <img
              src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
              alt="Imagen de perfil" class="avatar-img-miembro">
          </div>
          <h5 class="card-title-miembro">Nombre de usuario</h5>
        </div>
      </div>
    </div>
  </div>
</div>
