.card {
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.avatar-img {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.card-text {
  margin-bottom: 10px;
}

.post-img {
  max-width: 100%;
  margin-bottom: 10px;
}

.card-footer {
  display: flex;
  justify-content: flex-start;
}

.btn {
  margin-right: 10px;
}

/** Comentarios **/

.avatar-container-comment {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 7px;
}


.comment-details {
  margin-top: 5px;
}

.comment-username {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
}

.comment-text {
  font-size: 12px;
}

.head {
  border: none;
  padding-bottom: 0;
}

.cardc {
  margin-top: 4px;
  margin-bottom: 4px;
}

.usuario-text {
  font-size: 15px;
  font-weight: 400;
  color: dimgrey;
}
