<section class="vh-100 d-flex">
  <div class="container-xl py-4">
      <div class="d-flex justify-content-center align-items-center">
        <div>
            <div class="card-body p-1">
              <h2 class="text-center">Juegos Scattergories-Memorama creados</h2>
              <br>
              <table class="table table-bordered border-success">
                <thead>
                  <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Tema</th>
                    <th scope="col">Dificultad</th>
                    <th scope="col">Cantidad Categorias</th>
                    <th scope="col">Demo</th>
                    <th scope="col">Editar Dificultad</th>

                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center" *ngFor="let tema of temas; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                      <b>{{ tema.titulo }}</b>
                    </td>
                    <td>
                      {{ tema.dificultad }}
                    </td>
                    <td>
                      {{ tema.cantidad_preguntas }}
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-link"
                        (click)="clickGoDemo(i)"
                      >
                        Probar
                      </button>
                    </td>
                    <td>
                      <select class="form-select bg-info" aria-label="Default select example">
                        <option selected>Opciones</option>
                        <option (click)="clickEditarDificultad(i,1)">Facil</option>
                        <option (click)="clickEditarDificultad(i,2)">Medio</option>
                        <option (click)="clickEditarDificultad(i,3)">Dificil</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>       
         </div>
      </div>
    <br />
</section>
