section{
    background-image: url("https://i.pinimg.com/originals/fc/1d/96/fc1d963a58022205bfcc95e6b645eee7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }