* {
    transition: all 0.25s;
  }
  
  body {
    background-color: steelblue;
    background-image: url(https://i.pinimg.com/originals/d8/a3/25/d8a3255b4bcaa5d6c775624608aa9170.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 120%;
  }
  
  #encabezado {
    width: 70vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
  }
  
  .opcion {
    text-align: center;
    width: 100%;
    height: 7vw;
    color: white;
    font-size: 3em;
    font-weight: 900;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: white;
  }

    .pregunta{
        font-size: 3em;
    }

  .opcion:hover{
       background: lightgray;
  }