<div class="container">
  <div class="row mt-4">
    <div class="col-10"></div>
    <div class="col-2">

    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="mb-4">
        <div class="titulo">Mis creaciones</div>
      </div>
      <div class="mb-2">
        <table class="table">
          <thead class="table-light">
            <tr>
              <th>Codigo</th>
              <th>Tipo</th>
              <th>Nombre</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let instancia of instanciasJuegos">
              <td>{{instancia.id_instancia_juego}}</td>
              <td>{{instancia.nombre_tipo_juego}}</td>
              <td>{{instancia.nombre_instancia}}</td>
              <td>

                <button (click)="dirigirAPuntaje(instancia)" type="button" class="btn btn-warning mx-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-trophy-fill" viewBox="0 0 16 16">
                    <path
                      d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z" />
                  </svg>
                </button>
                <button type="button" class="btn btn-success">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-share-fill" viewBox="0 0 16 16">
                    <path
                      d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
