<section style="background-color: #81cdf5">
  <div class="container-fluid py-1" >
      <h1>Área de Categorias del Tema: <b>{{tema.titulo}}</b> 😉</h1>
      <div class="row">
          <div class="col-md-9">
              <div class="main">
                  <div *ngFor="let pregunta of preguntas; let i = index" >
                      <figure >
                          <img class="back" *ngIf="!pregunta.mostrarFigura" src="assets/memorama/img/back.png" alt="Back" />
                          <div  *ngIf="pregunta.mostrarFigura" class="searched-image2">
                            <div class="internal">
                                <h4 class="text-center" >Categoria 🡇</h4>
                            </div> 
                            <br>
                            <div class="internal-r">
                                <h5 class="text-center"><b>{{pregunta.pregunta}}
                                    😀 </b></h5>
                            </div>
                            <br>
                            <div class="text-center"><h6>🢚No. Respuestas: Faltantes {{pregunta.cantidad_respuestas}} </h6></div>
                    
                          </div> 
                        </figure> 
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <h5 class="text-center">
                  Dificultad:
                  <br>
                  <b>{{tema.dificultad}}</b>
              </h5>
              <br>
              <br>
              <h4 >
                  ✌ Puntaje ✌
              </h4>
              <h4 >
                  {{punteoGeneral}}
              </h4>
          </div>
      </div>
      <br>
      <h1>Área de Respuestas 😎</h1>
      <div class="row">
          <div class="col-md-9">
              <div class="main">  
                  <div *ngFor="let respuesta of respuestas; let i = index" >
                      <figure (click)='clickTarjeta(i)' >
                          <img class="back" *ngIf="respuesta.mostrarFigura" src="assets/memorama/img/back.png" alt="Back" />
                          <div  *ngIf="!respuesta.mostrarFigura"  class={{respuesta.classCSSstatus}}>
                            <div class="internal">
                                <h4 class="text-center" >Respuesta!</h4>
                            </div>
                            <br>
                            <div class="internal-r">
                                <h5 class="text-center"><b>{{respuesta.respuesta}}
                                    😀 </b></h5>
                            </div>
                            <br>
                            <div *ngIf="juegoInciado"  >
                              <div *ngIf="!respuesta.correcto"  class="text-center"><h6>Incorrecto! 😬</h6></div>
                              <div *ngIf="respuesta.correcto"  class="text-center"><h6>Correcto! 😸</h6></div>
                            </div>
                          </div> 
                      </figure> 
                  </div>
              </div>
        </div>
        <div class="col-md-3">
          <div class="text-center">
            <h4>
              Estoy listo para Comenzar
            </h4>
            <br>
            <button type="button" class="btn btn-primary" (click)='clickComenzar()'>Comenzar</button>
            <br>
            <br>
            <p>
              Puedes Memorizarte las respuesta lo mejor Posible, cuando presiones el boton comenzar las preguntas se
              ocultaran y el juego comienza
              <b>Suerte!!</b>
            </p>
            <br>
            <br>
            <p>
              <b>
                Cada Tarjeta seleccionada correctamente y a la primera vale 10 pts, mientras mas falles estos puntos se
                ven reducidos
              </b>
            </p>
    
          </div>
        </div>
      </div>
</div>
</section>
